// CITY Page main container
.city-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
}
// POST section, holds each post
.user-posts {
  width: 60vw;

  .title-card {
    background-color: var(--neonyellow);
  }
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 570px;
  max-width: 600px;

  img {
    max-width: 350px;
    margin-left: auto;
  }
}

.post-border {
  margin: 0 auto;
  max-width: 600px;

  .card {
    max-width: 600px;
    min-width: 570px;
  }
}


.card-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  // width: 300px;
}

// Profile section of post
.post-user {
  display: grid;
  grid-auto-rows: minmax(220px, 220px);
  justify-items: center;
}

.post-user-text {
  width: 200px;
  max-height: 82px;
  // max-width: 200px;
  // min-width: none;
  margin: 10px 0;
  padding: 5px 0;
  
  display: grid;
  grid-template-columns: 70px 130px;
  grid-template-rows: 1fr;
  border-radius: 20px;
  align-items: center;
  
  a {
    text-decoration: none;
    color: dimgray;
  }

 .location {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.post-text-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(90px, 90px);
  align-content: center;
  // justify-items: center;

  .card-text {
    font-size: 16px;
    grid-column-start: span 2;
  }
  .post-buttons {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    place-items: center;
    max-width: 110px;
    
    .small-btn {
      max-width: 45px;
    }

    .btn-primary {
      max-width: 100px;
      grid-column-start: span 2;
      white-space: nowrap;
    }
  }
}

#profile-pic {
  height: 60px;
  width: 60px;
  clip-path: polygon(50% 14%, 9% 85%, 91% 85%);
  object-fit: cover;
  object-position: 50% 50%;
  // This cuts off bottom corners atm
  border-radius: 15px; 
}

// Bryan's Button and stuff

.new-post {
  background-color: var(--blue);
  transition: all .2s ease-in-out;
  margin-bottom: 40px;
  font-family: 'Poppins';
  width: 250px;
  margin-left: auto;
  // clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

.new-post:hover {
  box-shadow: 2px 2px #53a7ea, 4px 4px #53a7ea, 6px 6px #53a7ea;
  transform: translateX(-6px);
}

.display-6 {
  margin: 4px 0;
  font-weight: 500;
}

.city-data {
  font-family: 'Poppins', sans-serif;
  // width: 60vw;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 800;
    font-size: 32px;
    align-self: flex-start;
  }

  .image {
    width: 60vw;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }
  .post-image {
    margin: 20px 10px 5px 15px;
    width: 30%;
    min-width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }
}

// @media only screen and (max-width: 700px) {
//   .card-body {
//     gri
//   }
// }