// CITY Page main container
.city-main {
  font-family: 'Poppins', sans-serif;
  width: 750px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 800;
    font-size: 54px;
    align-self: flex-start;
  }

  .image {
    width: 750px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }
  .post-image {
    margin: 20px 10px 5px 15px;
    width:220px;
    height: 200px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }
}
// POST section, holds each post
.user-posts {
  .title-card {
    background-color: var(--neonyellow);
  }
}

// Profile section of post
.post-user {

  .post-user-text {
    width: 200px;
    margin: 10px 25px;
    padding: 10px;
    
    display: grid;
    grid-template-columns: 70px 130px;
    grid-template-rows: 1fr;
    border-radius: 20px;
    

    a {
      text-decoration: none;
      color: dimgray;
    }

   .location {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

  #profile-pic {
    height: 60px;
    width: 60px;
    clip-path: polygon(50% 14%, 9% 85%, 91% 85%);
    object-fit: cover;
    object-position: 50% 50%;
    // This cuts off bottom corners atm
    border-radius: 15px; 
  }
}

// Bryan's Button and stuff

.new-post {
  background-color: var(--blue);
  transition: all .2s ease-in-out;
  margin-bottom: 40px;
  font-family: 'Poppins';
  // clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

.new-post:hover {
  box-shadow: 2px 2px #53a7ea, 4px 4px #53a7ea, 6px 6px #53a7ea;
  transform: translateX(-6px);
}

.display-6 {
  margin: 4px 0;
  font-weight: 500;
}