#carousel-holder {
  height: 300px;  // width: 100vw;
  overflow: clip;
  object-position: center;

}

#carouselExampleIndicators {
    height: 300px;
    overflow: clip;
    object-fit: center;
}

#gallery-button {
    position: absolute;
    margin-top: 225px;
    z-index: 2;
}

#gallery-image {
    height: inherit;
    width: 100vw;
    object-fit: none;
    object-position: center bottom;
    }


body {
    background-color: var(--mediumorange);
}

#home-title {
    margin: 1em 0;
    text-align: center;
}

#about-topics-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 24px 24px 24px;
    gap: 24px;
    h3 {
        font-size:larger;

    }
    a {
        text-decoration: none;
        background-color: var(--pink);
        color: var(--blue)
    }
}



