@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

// Resets CSS 
* {
  box-sizing: border-box;
}
:root{
  --blue: #70D6FF;
  --pink: #FF70A6;
  --mediumorange: #FF9770;
  --lightorange: #FFD670;
  --neonyellow: #E9FF70;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app-navbar {
  background-color: var(--neonyellow);

}