// Fonts


// Resets CSS 
* {
  box-sizing: border-box;
}
:root{
  --blue: #70D6FF;
  --pink: #FF70A6;
  --mediumorange: #FF9770;
  --lightorange: #FFD670;
  --neonyellow: #E9FF70;
}


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

// ************ Bryan's CSS *************

/* Post Detail Page */
.post-show-content {
    display: grid;
    justify-content: center;
}

.post-show-main {
    display: grid;
    margin: 24px;
    max-width: 680px;
    @media only screen and (min-width: 680px) {
        .post-show-main {
            width: 680px;
            margin: 0;
            justify-content: center;
        }
    }
    h1 {
        font-size: 48px;
        font-weight: 400;
    }
    #post-show-profile-pic {
        height: 60px;
        width: 60px;
        clip-path: polygon(50% 10%, 0 90%, 100% 90%);
        object-fit: cover;
        object-position: 50% 50%;
    }
    .post-show-profile {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-auto-rows: minmax(70px, 70px);
        align-items: center;
        .post-show-user-text {
            line-height: .4em;
            font-weight: 400;
            font-size: 14px;
            h5 {
                margin-left: 5px;
                color: #757575;
            }
        }
    }
    #post-show-image {
        width: 100%;
        max-width: 680px;
        margin: 28px 0;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
    // #post-show-profile-container {
    //     height: 70px;
    //     aspect-ratio: 1;
    // }
    // background-color: red;
    background-color: red;
}

//************* Kathy's CSS *************

// profile page main container
.profile-show-main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 100%;
  grid-gap: 10px;
  margin: 20px;
  border: 2px solid red;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}
// Holds all user information on left
.left-user-info {
  border: 2px solid limegreen;
  background-color: var(--lightorange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-info-text {
    text-align: center;
  }
}
// Holds all current user's posts on right-side
.right-user-posts {
  border: 2px solid blue;
  background-color: var(--mediumorange);
}

// index page of all user profiles main container
.users-show-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-gap: 10px;
  margin: 20px;
  border: 2px solid red;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}