button, button:hover, button:active, button:visited, button:focus {
  outline: 0;
}
button{
  height: 45px;
  width: auto;
  padding: 0 35px;
  border-radius: 4px;
  color: #6c6c6c;
  border: 1px solid #c6c6c6;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  transition: 0.3s cubic-bezier(.25,.8,.95,1);
  transition: padding 0s;
  background:transparent;
    &:hover{
    background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
    color:#fff;
    border: 1px solid #7B00B9;
    }
    @media (min-width: 320px) and (max-width: 768px){
        &:hover{
        background: transparent;
            //linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
        color:#6c6c6c;
        border: 1px solid #c6c6c6;
        }
    }

}





/* MODAL */
.modal-sde {
  height:50px;
  width:220px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#333;
  color:#fff;
  border-radius:4px;
  margin:45px;
  cursor:pointer;
  transition:0.25s;
  &:hover{
    background:rgba(0,0,0,.75);
    transition:0.3s;
  }
}

// Modal Code
.val-success-overlay {
  z-index:999999999999;
  opacity:0;
  position:fixed;
  top:0;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,.48);
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.3s;
  pointer-events:none;
  &.active {
    opacity:1;
    pointer-events:auto;
  }
  .val-success {
    transform:translateZ(121px);
    width:620px;
    height:auto;
    padding:60px 25px;
    background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.6),rgba(0,0,0,.2)),url('../img/modal/popup.jpg') no-repeat center/cover;
    box-shadow:1px 2px 18px rgba(0,0,0,.68);
    border-radius:4px;
    transform:translateY(60%);
    opacity:0;
    transition:0.25s;
    transition-delay:0s;
    position:relative;
    &.active {
      transform:translateY(0);
      opacity:1;
      transition:0.3s;
      transition-delay:0.3s;
    }
    .close-modal{
      position: absolute;
      right: 15px;
      top: 15px;
      height: 44px;
      width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .close-ic {
        span {
          width: 22px;
          height: 2px;
          background: #fff;
          display: block;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          &:nth-child(1){
            transform: rotate(45deg);
          }
          &:nth-child(2){
            transform: rotate(-45deg);
          }
        }
      }
    }
    .val-info {
      width:100%;
      .info {
      	color: #fff;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
        width:80%;
        margin:auto;
      }
    }
    .form {
      width:100%;
      text-align:center;
      margin-top:45px;
    }
  }
}


@media(min-width:320px) and (max-width:600px){
  .val-success-overlay {
    .val-success {
      width:80%;
    }
  }
}

//SIGN IN
/* MODAL */
// Modal Code
.sign-in-modal {
   cursor: url("https://png.icons8.com/ios/30/000000/multiply.png"), auto;
  z-index:999999999999;
  opacity:0;
  position:fixed;
  top:0;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,.48);
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.3s;
  pointer-events:none;
  &.active {
    opacity:1;
    pointer-events:auto;
  }
  .inner--sign-in-modal {
    transform:translateZ(121px);
    min-width:480px;
    height:auto;
    background:#fff;
    box-shadow:1px 2px 18px rgba(0,0,0,.68);
    border-radius:4px;
    transform:translateY(60%);
    opacity:0;
    transition:0.25s;
    transition-delay:0s;
    position:relative;
    &.active {
      transform:translateY(0);
      opacity:1;
      transition:0.3s;
      transition-delay:0.3s;
    }
    .val-info {
      border-radius:4px;
      width:100%;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: center;
      position:relative;
      z-index:1;
      .overlay {
        z-index:-1;
        display:block;
        position:absolute;
        background:-webkit-linear-gradient(left, #7323DC, #7B00B9);
        box-shadow:0px 1px 10px rgba(57, 14, 110,.8);
        top:0;
        left:0;
        height:100%;
        &.sign-in-side {
          width:50%;
          margin-right:50%;
          border-radius:4px 0 0 0;
          transition:0.6s;
        }
        &.sign-up-side {
            width:50%;
            margin-left:50%;
            border-radius:0 4px 0 0;
            transition:0.6s;
        }
      }
      .tab {
        box-shadow:1px 2px 18px rgba(0,0,0,.18);
        width:50%;
        height:55px;
        background:#f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#c8c8c8;
        font-size:18px;
        line-height:26px;
        font-weight:600;
        transition:0.5s;
        font-family:'Montserrat';
        &.active {
          background:transparent;
          color:#fff;
        }
      }
      .tab-sign-in {
        cursor:pointer;
      }
      .tab-sign-up {
        cursor:pointer;
      }
    }
    .content-info {
      min-height:500px;
      position:relative;
      overflow-x:hidden;
      .content-sign-in {
        cursor: default;
        position:absolute;
        top:0;
        left:-100%;
        width:100%;
        height:100%;
        transition:0.6s;
        padding:30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        &.active {
          transition:0.6s;
          left:0;
        }
        .wrap--content-sign-in{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width:100%;
          .greetings {
            width:100%;
            text-align: center;
            margin-bottom:30px;
            font-size:20px;
            line-height:30px;
            font-weight:400;
            font-family:'Lato';
          }
          form {
            width:90%;
            .input-control {
              width:100%;
              margin:auto auto 20px auto;
              input {
                width:100%;
                height:45px;
                border:1px solid #ccc;
                box-shadow:none;
                background:transparent;
                border-radius:4px;
                padding-left:12px;
              }
            }
            button{
              width:100%;
              transition:0.45s;
              height:50px;
              color:#fff;
              border: 1px solid #7B00B9;
              text-transform: uppercase;
              font-family: 'Montserrat';
              font-size: 14px;
              font-weight: bold;
              line-height: 22px;
              text-align: center;
              transition: 0.3s cubic-bezier(.25,.8,.95,1);
              transition: padding 0s;
              background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
                &:hover{
                background:transparent;
                color: #6c6c6c;
                border: 1px solid #c6c6c6;
                }
            }
          }
          .close-login {
            cursor:pointer;
            width: 100px;
            padding: 12px;
            text-align: center;
            margin-top:20px;
            position:absolute;
            bottom:8px;
            margin-left:auto;
            margin-right:auto;
            left:0;
            right:0;
            font-size:16px;
            color:#333;
            span {
              font-size:14px;
              display: inline-block;
              color:#666;
              font-weight: 700;
              letter-spacing: 1px;
              &:first-child{
                margin-left:2px;
              }
            }
          }
        }
      }
      .content-sign-up {
        cursor: default;
        position:absolute;
        top:0;
        left:100%;
        width:100%;
        height:100%;
        transition:0.6s;
        padding:45px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        &.active {
          transition:0.6s;
          left:0;
        }
        .wrap--content-sign-up{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width:100%;
          .greetings {
            width:100%;
            text-align: center;
            margin-bottom:30px;
            font-size:20px;
            line-height:30px;
            font-weight:400;
            font-family:'Lato';
            span {
              text-transform: capitalize;
              display: inline-block;
              background: -webkit-linear-gradient(left, #7323DC, #7B00B9);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          form {
            width:90%;
            .input-control {
              width:100%;
              margin:auto auto 20px auto;
              input {
                width:100%;
                height:45px;
                border:1px solid #ccc;
                box-shadow:none;
                background:transparent;
                border-radius:4px;
                padding-left:12px;
              }
            }
            button{
              width:100%;
              transition:0.45s;
              height:50px;
              color:#fff;
              border: 1px solid #7B00B9;
              text-transform: uppercase;
              font-family: 'Montserrat';
              font-size: 14px;
              font-weight: bold;
              line-height: 22px;
              text-align: center;
              transition: 0.3s cubic-bezier(.25,.8,.95,1);
              transition: padding 0s;
              background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
                &:hover{
                background:transparent;
                color: #6c6c6c;
                border: 1px solid #c6c6c6;
                }
            }
          }
        }
      }
      .close-login {
        cursor:pointer;
        width: 100px;
        padding: 12px;
        text-align: center;
        margin-top:20px;
        position:absolute;
        bottom:8px;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
        font-size:16px;
        color:#333;
        span {
          font-size:14px;
          display: inline-block;
          color:#666;
          font-weight: 700;
          letter-spacing: 1px;
          &:first-child{
            margin-left:2px;
          }
        }
      }
    }
  }
}


@media(min-width:320px) and (max-width:600px){
.sign-in-modal .inner--sign-in-modal {
  min-width:auto;
  width:90%;
}
}