/* * {
    border: 1px solid yellow;
} */

body {
    // background-color: var(--blue);
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
}

.post-show-content {
    margin: 24px auto;
    padding: 0 24px;
    width: 100%;
}

.post-show-main {
    display: grid;
    // justify-content: center;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    
    // Optionally change this to just be on the description below
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);

    h1 {
        font-size: 48px;
        font-weight: 400;
    }

    #post-show-profile-pic {
        height: 60px;
        width: 60px;
        clip-path: polygon(50% 10%, 0 90%, 100% 90%);
        object-fit: cover;
        object-position: 50% 50%;
        // This cuts off bottom corners atm
        border-radius: 15px;   
    }
    #post-show-profile-pic:hover {
        transform: scale(1.1);
    }

    .post-show-profile {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-auto-rows: minmax(70px, 70px);
        align-items: center;

        .post-show-user-text {
            line-height: .6em;
            font-weight: 600;
            font-size: 16px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            a {
                text-decoration: none;
                color: #292929;
                width: 120px;
            }

            a:hover {
                color: var(--pink);
                font-weight: 700;
            }

            #city-link {
                font-size: 14px;
                margin: 0 0 0 5px;
                color: #757575;
                font-weight: 400;
                width: 120px;
            }

            #city-link:hover {
                color: var(--lightorange);
                font-weight: 700;
            }
        }

    }

    // #post-description {
    //     box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    //     border-radius: 5px;
    //     background-color: rgba(255, 255, 255, .2);
    //     backdrop-filter: blur(5px);
    // }

    .post-img-cont {
        width: inherit;
        max-width: 680px;
        max-height: 580px;
        margin: 28px 0;
    }

    #post-show-image {
        width: 100%;
        max-width: calc(100vw - 48px);
        max-height: 580px;
        object-fit: cover;
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    }

    p {
        font-size: 18px;
        line-height: 28px;
        padding: 0px 10px;
        // color: var(--neonyellow);
    }
    // #post-show-profile-container {
    //     height: 70px;
    //     aspect-ratio: 1;
    // }
    // background-color: red;
}

// Edit/Delete buttons
.edit-delete-buttons {
    display: flex;
    justify-content: flex-end;
}

.icon {
    color: white;
    font-size: 24px;
}

.fas {
    font-weight: 400;
}

.neon:hover {
    color: #fff;
    transition-duration: .5s;
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff;
  }