
.post-show-content {
    margin: 24px auto;
    padding: 0 24px;
    width: 100%;
}

.post-show-main {
    display: grid;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    
    // Optionally change this to just be on the description below
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(7px);

    h1 {
        font-size: 48px;
        font-weight: 400;
    }

    #post-show-profile-pic {
        height: 60px;
        width: 60px;
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
        object-fit: cover;
        object-position: 50% 50%;
        // This cuts off bottom corners atm
        border-radius: 15px;   
    }
    #post-show-profile-pic:hover {
        transform: scale(1.1);
    }

    .post-show-profile {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-auto-rows: minmax(70px, 70px);
        align-items: center;

        .post-show-user-text {
            line-height: .6em;
            font-weight: 600;
            font-size: 16px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            a {
                text-decoration: none;
                color: #292929;
                width: 120px;
            }

            a:hover {
                color: var(--pink);
                font-weight: 700;
            }

            #city-link {
                font-size: 14px;
                margin: 0 0 0 5px;
                color: #757575;
                font-weight: 400;
                width: 120px;
            }

            #city-link:hover {
                color: var(--lightorange);
                font-weight: 700;
            }
        }

    }

    #post-description {
        font-size: 18px;
    }

    .post-img-cont {
        width: inherit;
        max-width: 680px;
        max-height: 580px;
        margin: 28px 0;
    }

    #post-show-image {
        width: 100%;
        max-width: calc(100vw - 48px);
        max-height: 580px;
        object-fit: cover;
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    }

    p {
        font-size: 18px;
        line-height: 28px;
        padding: 0px 10px;
        // color: var(--neonyellow);
    }
    // #post-show-profile-container {
    //     height: 70px;
    //     aspect-ratio: 1;
    // }
    // background-color: red;
}

// Edit/Delete buttons
.edit-delete-buttons {
    display: flex;
    justify-content: flex-end;
}

.icon {
    color: white;
    font-size: 24px;
}

.fas {
    font-weight: 400;
}

.neon:hover {
    color: #fff;
    transition-duration: .5s;
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff;
  }

// COMMENT Section
.comment-form-container  {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 680px;

    #comment-form {
        margin: 0 auto; 
        padding: 50px;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .3);
        backdrop-filter: blur(7px);
        width: 100%;
        max-width: 680px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h5 {
            font-weight: 500;
        }

        label {
            display: none;
        }

        .comment-submit {
            align-self: flex-end;
        }

    }
    .tox.tox-tinymce {
        width: 109%;
    }
}
// Comment Card animated border
.gradient-border {
  --border-width: 3px;

  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  max-width: inherit;
  border-radius: 7px;
  background: rgba(214, 214, 214, 0.84);
  

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 16s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

// Each Comment Card
.comment-card {
    margin: 40px auto; 
    padding: 10px 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(7px);
    width: 100%;
    max-width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;

    .comment-text {
        color: rgb(71, 71, 71);
        padding: 10px 0;
        grid-column: 1 / span 2;

        p {
            font-size: 18px;
            font-weight: 400;

            strong {
                font-weight: 700;
            }
        }
    }
}

.post-user-text {
    min-width: 220px;
    width: 40%;
    max-width: 250px;
    height: 41px;
    margin: 10px 0;
    padding: 5px 5px;
    display: grid;
    gap: 16px;
    grid-template-columns: 30px 130px;
    grid-template-rows: 1fr;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 5px;
    
    a {
        text-decoration: none;
        color: #474747;
        font-size: 18px;
        font-family: "Poppins";
    }
    
    a:hover {
        color: var(--pink);
        font-weight: 600;
    }

    .location {
        grid-column-start: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        font-style: italic;
        color: rgb(116, 116, 116);
    }
}

// Edit/Delete buttons
.edit-delete-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// Specifically the edit-delete-buttons with the total comments
#comment-total {
    justify-content: space-between;
    align-items: center;
    .comment-total {
        margin: 4px 0 0 0;
        background-color: rgba(255, 255, 255, 0.267);
        border-radius: 5px;
        font-family: "Poppins";
        font-weight: 500;
    }
}

.icon {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.neon:hover {
    color: #fff;
    transition-duration: .5s;
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff;
}

#profile-pic {
    height: 30px;
    width: 30px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    object-fit: cover;
    object-position: 50% 50%;
}


// Background animation - Bryan's Version
.bg {
    animation:slide 9s ease-in-out infinite alternate;
    background-image: 
      linear-gradient(-60deg, var(--neonyellow) 40%, var(--pink) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:12s;
}
  
.bg3 {
    animation-duration:15s;
    background-image: 
      linear-gradient(-60deg, var(--mediumorange) 40%, var(--blue) 50%);
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}
