{% extends 'base.html' %} 

{% load sass_tags %}

{% block title %} Login {% endblock %}
{% block styles %}<link rel="stylesheet" href="{% sass_src 'styles/login.scss' %}">{% endblock %}


{% block content %}

{% comment %} <h1 class="title">Log In</h1>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" class="btn" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form> {% endcomment %}


<body>
  <section class="contain-form">
    <h1 class="title">Log In</h1>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="login-submit-btn">
        <button type="submit" class="btn login-submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <a href={{"/accounts/signup"}}>Already have an account?</a>
      </div>
    </form>
  </section>
</body>


{% endblock %}