{% extends 'base.html' %} 

{% load sass_tags %}

{% block title %} Sign Up {% endblock %}
{% block styles %}<link rel="stylesheet" href="{% sass_src 'styles/signup.scss' %}">{% endblock %}

{% block content %}

<body>
  <section class="contain-form">
    <h1 class="title">Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %} {{ form.as_p }}
      <p>
      <label for "input#id_location">
        Current City:</label> <input type="text" name="location" class="location" id="id_location" required>
      </p>
      <div class="signUp-submit-btn">
        <button type="submit" class="btn signUp-submit">Create Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <a href={{"/accounts/login"}}>Already have an account?</a>
      </div>
    </form>
  </section>
</body>

{% endblock %}