{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Local Styles -->
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <!-- Local Scripts -->

    <script src="{% static 'scripts/app.js' %}" defer></script>

  <title>Exploria - {% block title %}{% endblock title %}</title>
</head>

<body>
    <!-- Navbar can go here since it will be on all pages -->
  <nav class="navbar">
        <!-- **insert img or icon -->
    
    <div class="navbar-one">
      <h1>Exploria</h1>
    </div>
    <div class="navbar-two">
      <p>Login</p>
      <p>Signup</p>
    </div>
      
  </nav> 
    
    <!--{% if user.is_authenticated %}
    <div class="navbar-div">
      <span class="navbar-item">Welcome: {{ user.username}} </span>
      <a class="navbar-item" href="" >Logout</a>   
    </div>          
    {% else %} -->
    
     
  
  <section id="main-content">
    <div>
   <!--- {% endif %}  -->
  

    <!-- Content block for extending pages -->
    {% block content %}{% endblock content %}
<!--- <a> <img id="jazzburger-image" src="https://www.happysocks.com/icons/jazzburger.svg" alt="Click for links"></a>-->

</div>
</section>
<footer>
<h3>Exploria</h3>
<a class="footer-item" href="">About</a>
<!-- below is added in case it might be useful for presentation-->
<p class="footer-copyright">copyright</p>
</footer>
</body>
</html>