{% extends 'base.html' %}

{% block title%}
Home 
{% endblock %}

{% block content %}

<section id="gallery-container">




</section>
<div id="home-about-section">
<h2>Exploria is...</h2>
<section id="about-topics-container">
<div class="div-one">
  <h3>Topic</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet exercitationem aperiam excepturi nulla corrupti iste aliquam beatae obcaecati deleniti animi, veniam sed perferendis quisquam, dolore, consequatur sequi culpa saepe tempore?</p>
</div>
<div>
  <h3>Topic</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet exercitationem aperiam excepturi nulla corrupti iste aliquam beatae obcaecati deleniti animi, veniam sed perferendis quisquam, dolore, consequatur sequi culpa saepe tempore?</p>
</div>
<div>
  <h3>Topic</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet exercitationem aperiam excepturi nulla corrupti iste aliquam beatae obcaecati deleniti animi, veniam sed perferendis quisquam, dolore, consequatur sequi culpa saepe tempore?</p>
</div>
</section>
</div>
 
{% endblock %}
