{% extends 'base.html' %} 
{% load sass_tags %}

{% block styles %}<link rel="stylesheet" href="{% sass_src 'styles/post_delete.scss' %}">{% endblock styles%}

{% block content %}

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<section class="delete">
{% if request.user == post.user %}
    <h1 class="title">Are you sure you want to delete {{ post.title }}?</h1>

    <form method="post" name="form">
        {% csrf_token %}
        <div class="buttons">
            <!-- Redirect back on cancel using fancy (trashy) JS thingy -->
            <a class="btn btn-secondary" href="/" role="button" onclick="javascript:window.history.back(-1);return false;">Cancel</a>

            <input class="btn btn-outline-danger" type="submit" value="Confirm" />
        </div>
    
        <div class="post-image">
            <p class="delete-text">DELETE?</p>
            <input class="img" src="{{ post.img }}" alt="" type="image">
        </div>
    </form>
{% else %}
<svg>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
  <div class="alert alert-warning d-flex flex-column align-items-center">
    <svg class="bi flex-shrink-0 me-2" width="50" height="50" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <h1 class="title mt-2">You do not have authorization to delete this post. 
    </h1>
    <h2 class="title"><a href="{% url 'post_detail' post.pk %}" class="btn btn-info mt-3 text-white fw-bold">Go back</a></h2>
</div>
{% endif %}
</section>

{% endblock content %}