{% extends 'base.html' %}
{% load sass_tags %}

{% block title %} Profile {% endblock %}
{% block styles %}<link rel="stylesheet" href="{% sass_src 'styles/profile2.scss' %}">{% endblock %}

{% block content %}

  <main class="container-fluid profile-show-main">
    <div class="row m-auto justify-content-evenly">
      <section class="col-5 left-user-info">
        <div class="left-box">
          <span class="profile-image"><img src="{{profile.image}}" alt="Profile picture of {{profile.user.username}}"></span>
          <article class="user-info-text">
            <div class="top-text">
              <p class="username"><i class="fas fa-palette"></i> {{profile.user.username}}</p>
              <p class="location"><i class="fas fa-map-marker-alt"></i> {{profile.location}}</p>
            </div>
            <div class="bottom-text">
              <p class="joined"><i class="far fa-calendar-check"></i> Joined on {{profile.user.date_joined|date:"SHORT_DATE_FORMAT"}}</p>
              <p class="since"><i class="fas fa-user-clock"></i> Explorian for {{profile.user.date_joined|timesince}}</p>
            </div>
          </article>
          <a href="" class="btn btn-info btn-lg mt-4 text-white fw-bold edit-button" data-bs-toggle="modal" data-bs-target="#editUser"><i class="fas fa-edit"></i> Edit Profile</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit Profile Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'profile_update' profile.pk %}" method="POST">
                  {% csrf_token %}
                  <label for="locationInput">Location</label> 
                  <input type="text" class="location input" name="locationInput" required />
                  <label for="imageInput">Profile Picture</label> 
                  <input type="text" class="image input" name="imageInput" required />
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="col right-user-posts">
      {% for post in posts%}
      <div class="post-border">
        <div class="card" id="post-cards">
          <div class="card-header">
            <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-dark"><p class="display-6">{{post.title}}</p></a>
          </div>
          <div class="card-body d-flex">
            <span><img src="{{post.img}}" class="card-img-top" alt="Picture of {{post.title}}"></span>
            <div class="card-body">
              <h4 class="card-title text-body">{{ post.location }}</h4>
              <p class="card-text text-muted lead">{{post.description|truncatechars:"254"}}</p>
              <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">See post</a>
            </div>
          </div>

          {% comment %} Placing Edit button here with Brian's Delete button for consistency - Gail {% endcomment %}
          <div class="buttons">
            <a href="{% url 'post_edit' post.pk %}" class="edit-bt btn btn-info">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </a>
            <a href="{% url 'post_delete' post.pk %}" class="delete-btn btn btn-danger">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </div>
        </div>
      </div> 
      <br>
      {% empty %}
      <p class="display-6">{{profile.user.username|capfirst}} has no posts.</p>
      {% endfor %}
    </section>
    </div>


  </main>

{% endblock %}