{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}

<h1> Shows all user profiles publicly </h1>

<main class="users-show-main">
{% for user in users%}
    <section class="left-user-info">
      <span><img src="{{user.image}}" alt="Profile picture of {{user.user.username}}"></span>
      <article class="user-info-text">
        <p>{{user.user.username}}</p>
        <p>{{user.user.first_name}} {{user.user.last_name}}</p>
        <p>{{user.location}}</p>

      </article>
    </section>


  </main>
{% endfor %}

{% endblock %}