@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.profile-show-main {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  background-color: transparent; }

.left-user-info {
  border-width: 50px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(7px); }
  .left-user-info .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 40px 70px;
    border-radius: 7px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(246, 209, 64, 0.466);
    backdrop-filter: blur(7px); }

.user-info-text {
  padding: 20px 20px 10px 20px;
  background-color: rgba(235, 233, 233, 0.445);
  padding: 10px 20px;
  border-radius: 7px;
  text-align: center; }
  .user-info-text .username {
    color: black;
    font-size: 32px;
    font-weight: 600;
    background-color: var(--neonyellow);
    border-radius: 5px; }
  .user-info-text .location {
    color: #424242;
    font-size: 20px;
    font-style: italic;
    background-color: #f5ffbd;
    border-radius: 5px; }
  .user-info-text .joined {
    color: #6d6d6d;
    font-size: 18px;
    text-align: left; }
  .user-info-text .since {
    color: #6d6d6d;
    font-size: 18px;
    text-align: left; }

img {
  clip-path: polygon(50% 14%, 9% 85%, 91% 85%); }

.edit-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white; }
  .edit-button span {
    display: none; }

.edit-button:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  transition-duration: .5s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff; }
  .edit-button:hover span {
    display: inline; }

.right-user-posts {
  padding: 40px 60px 10px 100px;
  overflow: auto;
  height: 100vh;
  box-shadow: 1px 1px 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px); }
  .right-user-posts img {
    margin: 20px 10px 5px 15px;
    width: 220px;
    height: 220px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%); }
  .right-user-posts .see-post span {
    display: none; }
  .right-user-posts .see-post:hover span {
    display: inline; }

#post-cards {
  width: 660px;
  height: 410px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.294);
  background-color: rgba(245, 245, 245, 0.931);
  margin-top: 40px;
  margin-bottom: 20px; }
  #post-cards a {
    text-decoration: none; }

#post-cards:after, #post-cards:before {
  mix-blend-mode: color-burn;
  filter: none;
  z-index: -1;
  content: '';
  width: calc(100% + (50px * 2));
  height: calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 30s ease-in-out infinite;
  transform: translateX(-50px) translateY(-50px); }

@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))); }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%); } }

#post-cards:after {
  animation-delay: -15s;
  background-color: var(--neonyellow);
  clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))); }

#post-cards:before {
  background-color: var(--blue);
  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%); }

#post-cards:hover:after {
  animation-delay: -0.3s; }

#post-cards:hover:before, #post-cards:hover:after {
  animation-duration: 3s; }

.profile-image {
  height: 300px;
  aspect-ratio: 1; }
  .profile-image img {
    height: inherit;
    object-fit: cover;
    aspect-ratio: 1; }

.card-img-top {
  object-fit: cover; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  form label {
    margin: 10px;
    font-weight: 600; }

.modal-header {
  background-color: var(--neonyellow); }
  .modal-header h5 {
    font-size: 24px;
    font-weight: 500; }

.modal-body {
  padding: 16px 0 0 0; }
  .modal-body p {
    font-size: 18px;
    width: 100%;
    padding: 0 14px;
    display: flex;
    justify-content: space-between; }
    .modal-body p input {
      width: 70%; }

.modal-footer {
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between; }

.edit-submit {
  background-color: var(--blue);
  transition: all .7s ease-in-out; }

.edit-submit:hover {
  background-color: #27c1ff; }

.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--neonyellow) 40%, var(--lightpink) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s; }

.bg3 {
  animation-duration: 20s;
  background-image: linear-gradient(-60deg, #f8cb04 40%, var(--lightpink) 50%); }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

.card-body p, .card-body a {
  color: #6c757d !important;
  font-size: 20px; }

.card-body a:hover {
  font-weight: 500; }

/*# sourceMappingURL=profile.css.map */